### ESXi Installation Script
### Hostname: pnpfrigg06
### Author: Yusmadi
### Date: 2018-02-20
### Tested with: BL460c G8 and ESXi 6.5

##### Stage 01 - Pre installation:

### Accept the VMware End User License Agreement
vmaccepteula

### Set the root password for the DCUI and Tech Support Mode
rootpw HP1nvent

### The install media (priority: local / remote / USB)
install --firstdisk=local --overwritevmfs

### Configure static IP address on the first network adapter
network --bootproto=static --device=vmnic0 --ip=130.175.94.39 --netmask=255.255.255.192 --gateway=130.175.94.1 --nameserver=130.175.94.19 --hostname=pnpfrigg06.friggtest.local

reboot --noeject

##### Stage 02 - Post installation:

### Open busybox and launch commands
%firstboot --interpreter=busybox

### Set Search Domain
esxcli network ip dns search add --domain=friggtest.local

### Add second NIC to vSwitch0
esxcli network vswitch standard uplink add --uplink-name=vmnic1 --vswitch-name=vSwitch0

###  Disable IPv6 support (reboot is required)
esxcli network ip set --ipv6-enabled=false

### Add NTP Server addresses
echo "server 130.175.94.19" >> /etc/ntp.conf;

### Allow NTP through firewall
esxcfg-firewall -e ntpClient

### Enable NTP autostartup
/sbin/chkconfig ntpd off;

### Disable CEIP
esxcli system settings advanced set -o /UserVars/HostClientCEIPOptIn -i 2

### Enable maintaince mode
#esxcli system maintenanceMode set -e true

### Enable SSH and ESX Shell
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell


### Retrieve Linux ISOexpo	
wget -P /vmfs/volumes/datastore1 http://130.175.94.25/golddisk-rhel-x86_64-72server-2q16.iso

### Reboot
esxcli system shutdown reboot -d 15 -r "rebooting after ESXi host configuration"
